<p id="notice"><%= notice %></p>

<h1>Included Parts</h1>

<table>
  <thead>
    <tr>
      <th>Part</th>
      <th>Inv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @included_parts.each do |included_part| %>
      <tr>
        <td><%= included_part.part %></td>
        <td><%= included_part.inv %></td>
        <td><%= link_to 'Show', included_part %></td>
        <td><%= link_to 'Edit', edit_included_part_path(included_part) %></td>
        <td><%= link_to 'Destroy', included_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Included Part', new_included_part_path %>
