<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :part_id, 'ID',  class: "col-md-2 control-label" %>
    <%= form.text_field :part_id, id: :part_part_id %>
  </div>

  <div class="form-group">
    <%= form.label :part_name, 'Name', class: "col-md-2 control-label" %>
    <%= form.text_field :part_name, id: :part_part_name %>
  </div>

  <div class="form-group">
    <%= form.label :part_cost, 'Cost', class: "col-md-2 control-label" %>
    <%= form.text_field :part_cost, id: :part_part_cost %>
  </div>

  <div class="form-group">
    <%= form.label :part_num_in_inventory, 'Number in Inventory', class: "col-md-2 control-label" %>
    <%= form.text_field :part_num_in_inventory, id: :part_part_num_in_inventory %>
  </div>

  <div class="form-group">
    <%= form.label :supp_id, 'Supplier', class: "col-md-2 control-label" %>
    <%= form.text_field :supp_id, id: :part_supp_id %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary col-md-2" %>
  </div>
<% end %>
