<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label 'Invoice ID' %>
    <%= form.text_field :inv_id, id: :inv_id %>
  </div>

  <div class="field">
    <%= form.label 'Cost Of Labor' %>
    <%= form.text_field :cost_of_labor, id: :invoice_cost_of_labor %>
  </div>

  <div class="field">
    <%= form.label 'VIN' %>
    <% vin = params[:car_vin] %>
    <%= form.text_field :car_vin, id: :invoice_car_vin, value: vin %>
  </div>

  <div class="field">
    <%= form.label 'Customer ID' %>
    <% id = params[:cust_id] %>
    <%= form.text_field :cust_id, id: :invoice_cust_id, value: id %>
  </div>

  <div class="field">
    <%= form.label 'Employee ID' %>
    <%= form.text_field :emp_id, id: :invoice_emp_id %>
  </div>

  <div class="field">
    <%= form.label 'Invoice Description' %>
    <%= form.text_field :inv_desc, id: :invoice_inv_desc %>
  </div>

  <div class="field">
    <%= form.label 'Problem Description' %>
    <%= form.text_field :prob_desc, id: :invoice_prob_desc %>
  </div>

  <div class="field">
    <%= form.label 'Engine Code' %>
    <%= form.text_field :eng_code, id: :invoice_eng_code %>
  </div>

  <div class="field">
    <%= form.label 'Invoice Date' %>
    <%= form.date_select :inv_date, id: :invoice_inv_date %>
  </div>

  <div class="field">
    <%= form.label 'Total Cost' %>
    <%= form.text_field :tot_cost, id: :invoice_tot_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
