<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :cost_of_labor, 'Cost Of Labor', class: "col-md-2 control-label" %>
    <%= form.text_field :cost_of_labor, id: :invoice_cost_of_labor %>
  </div>

  <div class="form-group">
    <%= form.label :license_plate, 'License Plate', class: "col-md-2 control-label" %>
    <% plate = params[:license_plate] %>
    <%= form.text_field :license_plate, id: :invoice_license_plate, value: plate %>
  </div>

  <div class="form-group">
    <%= form.label :cust_id, 'Customer ID', class: "col-md-2 control-label" %>
    <% id = params[:cust_id] %>
    <%= form.text_field :cust_id, id: :invoice_cust_id, value: id %>
  </div>

  <div class="form-group">
    <%= form.label :emp_id, 'Employee ID', class: "col-md-2 control-label" %>
    <%= form.text_field :emp_id, id: :invoice_emp_id %>
  </div>

  <div class="form-group">
    <%= form.label :inv_desc, 'Work Done', class: "col-md-2 control-label" %>
    <%= form.text_field :inv_desc, id: :invoice_inv_desc %>
  </div>

  <div class="form-group">
    <%= form.label :prob_desc, 'Problem Description', class: "col-md-2 control-label" %>
    <%= form.text_field :prob_desc, id: :invoice_prob_desc %>
  </div>

  <div class="form-group">
    <%= form.label :eng_code, 'Engine Code', class: "col-md-2 control-label" %>
    <%= form.text_field :eng_code, id: :invoice_eng_code %>
  </div>

  <div class="form-group">
    <%= form.label :inv_date, 'Invoice Date', class: "col-md-2 control-label" %>
    <%= form.date_select :inv_date, id: :invoice_inv_date %>
  </div>

  <div class="form-group">
    <%= form.label :tot_cost, 'Total Cost', class: "col-md-2 control-label" %>
    <%= form.text_field :tot_cost, id: :invoice_tot_cost %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit',  class: "btn btn-primary col-md-2"%>
  </div>

  <div class="actions">
    <%= form.submit 'Add Part',  class: "btn btn-primary col-md-2"%>
  </div>
<% end %>
