<p id="notice"><%= notice %></p>

<p>
  <strong>Cost of labor:</strong>
  <%= @invoice.cost_of_labor %>
</p>

<p>
  <strong>License Plate:</strong>
  <%= @invoice.license_plate %>
</p>

<p>
  <strong>Cust:</strong>
  <%= @invoice.cust_id %>
</p>

<p>
  <strong>Emp:</strong>
  <%= @invoice.emp_id %>
</p>

<p>
  <strong>Inv desc:</strong>
  <%= @invoice.inv_desc %>
</p>

<p>
  <strong>Prob desc:</strong>
  <%= @invoice.prob_desc %>
</p>

<p>
  <strong>Eng code:</strong>
  <%= @invoice.eng_code %>
</p>

<p>
  <strong>Inv date:</strong>
  <%= @invoice.inv_date %>
</p>

<p>
  <strong>Tot cost:</strong>
  <%= @invoice.tot_cost %>
</p>
<% @customer = Customer.find(@invoice.cust_id) %>
<%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-default" %>
<%= link_to 'Back', showcar_customer_path(@customer), class: "btn btn-default"%>
