<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <% id = Customer.all %>
    <%= form.label :cust_id, 'Customer ID', class: "col-md-2 control-label" %>
    <%= form.text_field :cust_id, id: :customer_cust_id, value: id.count + 1, :readonly => true %>
  </div>


  <div class="form-group">
    <%= form.label :cust_fname, 'First Name', class: "col-md-2 control-label" %>
    <%= form.text_field :cust_fname, id: :customer_cust_fname %>
  </div>

  <div class="form-group">
    <%= form.label :cust_lname,'Last Name', class: "col-md-2 control-label"  %>
    <%= form.text_field :cust_lname, id: :customer_cust_lname %>
  </div>

  <div class="form-group">
    <%= form.label :cust_phone,'Phone Number', class: "col-md-2 control-label"  %>
    <%= form.text_field :cust_phone, id: :customer_cust_phone %>
  </div>

  <div class="form-group">
    <%= form.label :cust_addr,'Address', class: "col-md-2 control-label"  %>
    <%= form.text_field :cust_addr, id: :customer_cust_addr %>
  </div>

  <div class="form-group">
    <%= form.label :city,'City', class: "col-md-2 control-label"  %>
    <%= form.text_field :city, id: :customer_city %>
  </div>

<div class="form-group">
    <%= form.label :state,'State', class: "col-md-2 control-label"  %>
    <%= form.text_field :state, id: :customer_state %>
  </div>

  <div class="form-group">
    <%= form.label :cust_date, 'Date Registered', class: "col-md-2 control-label"  %>
    <%= form.date_select :cust_date, id: :customer_cust_date %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary col-md-2" %>
  </div>
<% end %>
