
<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :car_vin, 'VIN',  class: "col-md-2 control-label" %>
    <%= form.text_field :car_vin, id: :car_car_vin %>
  </div>

  <div class="form-group">
    <%= form.label :car_make, 'Make',  class: "col-md-2 control-label" %>
    <%= form.text_field :car_make, id: :car_car_make %>
  </div>

  <div class="form-group">
    <%= form.label :car_model, "Model", class: "col-md-2 control-label" %>
    <%= form.text_field :car_model, id: :car_car_model %>
  </div>

  <div class="form-group">
    <%= form.label :car_year, 'Year', class: "col-md-2 control-label" %>
    <%= form.text_field :car_year, id: :car_car_year %>
  </div>

  <div class="form-group">
    <% id = params[:cust_id] %>
    <%= form.label :cust_id, 'Customer ID', class: "col-md-2 control-label" %>
    <%= form.text_field :cust_id, id: :car_cust_id, value: id %>
  </div>

  <div class="form-group">
    <%= form.label :license_plate, 'License Plate', class: "col-md-2 control-label" %>
    <%= form.text_field :license_plate, id: :car_license_plate %>
  </div>

  <div class="form-group">
    <%= form.label :state, 'License State', class: "col-md-2 control-label" %>
    <%= form.text_field :state, id: :state %>
  </div>

  <div class="form-group">
    <%= form.submit 'Submit',  class: "btn btn-primary col-md-2" %>
  </div>
<% end %>
