<style>
th, td{
  padding-left: 20px;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Cost of labor</th>
      <th>Car vin</th>
      <th>Customer ID</th>
      <th>Employee ID</th>
      <th>Invoice description</th>
      <th>Problem description</th>
      <th>Engine code</th>
      <th>Invoice date</th>
      <th>Total cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% @invoices = Invoice.where(car_vin: @car.car_vin) %>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.cost_of_labor %></td>
        <td><%= invoice.car_vin %></td>
        <td><%= invoice.cust_id %></td>
        <td><%= invoice.emp_id %></td>
        <td><%= invoice.inv_desc %></td>
        <td><%= invoice.prob_desc %></td>
        <td><%= invoice.eng_code %></td>
        <td><%= invoice.inv_date %></td>
        <td><%= invoice.tot_cost %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice, cust_id: invoice.cust_id, car_vin: invoice.car_vin) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% @customer = Customer.find(@car.cust_id) %>
<%= link_to 'Back', showcar_customer_path(@customer) %>
