<style>
th, td{
  padding-left: 20px;
}
</style>

<p id="notice"><%= notice %></p>

<h1 style="text-align:center">Invoices</h1>

<table  class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Car VIN</th>
      <th>Cost of Labor</th>
      <th>Customer ID</th>
      <th>Employee ID</th>
      <th>Work Done</th>
      <th>Problem Description</th>
      <th>Engine Code</th>
      <th>Invoice Date</th>
      <th>Total Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% @invoices = Invoice.where(license_plate: @car.license_plate) %>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.license_plate %></td>
        <td><%= invoice.cost_of_labor %></td>
        <td><%= invoice.cust_id %></td>
        <td><%= invoice.emp_id %></td>
        <td><%= invoice.inv_desc %></td>
        <td><%= invoice.prob_desc %></td>
        <td><%= invoice.eng_code %></td>
        <td><%= invoice.inv_date %></td>
        <td><%= invoice.tot_cost %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice, cust_id: invoice.cust_id, license_plate: invoice.license_plate) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% @customer = Customer.find(@car.cust_id) %>
<%= link_to 'Back', showcar_customer_path(@customer), class: "btn btn-primary" %>
