<p id="notice"><%= notice %></p>

<p>
  <strong>Supp name:</strong>
  <%= @supplier.supp_name %>
</p>

<p>
  <strong>Supp address:</strong>
  <%= @supplier.supp_address %>
</p>

<p>
  <strong>Supp phone:</strong>
  <%= @supplier.supp_phone %>
</p>

<p>
  <strong>Supp email:</strong>
  <%= @supplier.supp_email %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier), class: "btn btn-default" %>
<%= link_to 'Back', suppliers_path, class: "btn btn-default" %>
